
body {
    background-color: #d3d7db;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


.text-muted {
    opacity: 0.5;
}

/*.message_box{*/
/*    border: 2px solid black;*/
/*    padding: 5px;*/
/*}*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #d3d7db;
    text-align: center;
}

.btn{
    background-color: #de8466;
    border-color: #de8466;
}

.btn:hover{
    background-color: #de8466;
    border-color: black;
}


a{
    color: black;
}
