
body {
    background-color: #e9e4d3;
}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


.text-muted {
    opacity: 0.5;
}

.message_box{
    border: 2px solid black;
    padding: 5px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dbd2b7;
    color: black;
    text-align: center;
}