{% extends 'accounts/main.html' %}

{% block content %}


    {% if user.groups.all.0.name == "influencer" %}
        <p>Hey, {{ user.first_name }} {{ user.last_name }}</p>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Bio: {{ user.influencerprofile.bio }}</p>
        <p>Instagram Link: <a href="{{ user.influencerprofile.ig_link }}"
                              target="_blank">{{ user.influencerprofile.ig_link }}</a></p>
        <p>Followers: {{ user.influencerprofile.followers }}</p>
        <p>Member since: {{ user.date_joined }}</p>
        <button><a href="{% url 'settings' user.username %}">Update info</a></button>
        <button><a href="{% url 'messages' %}">Check messages</a></button>
        <br>
        <hr>
        <h5>You are currently working with:</h5>
        <ul>
            {% for i in working_with %}
                <li>{{ i.hired_by.businessprofile.business_name }}</li>
            {% endfor %}
        </ul>

    {% endif %}

    {% if user.groups.all.0.name == "business" %}
        <h3>{{ user.businessprofile.business_name }}</h3>
        <p>Hey, {{ user.first_name }} {{ user.last_name }}</p>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Business name: {{ user.businessprofile.business_name }}</p>
        <p>Address: {{ user.businessprofile.street_address }},
            {{ user.businessprofile.zip_code }}</p>
        <p>Member since: {{ user.date_joined }}</p>

        <form action="" method="POST">
            {% csrf_token %}
            {#            <label for="infsearch">Search Influencers</label>#}
            {#            <input type="search" id="infsearch" name="infsearch">#}
            {#            <input type="submit" value="search">#}
            <input type="submit" value="Search Influencer in your local Area Now!">
        </form>


        <h5>You are currently hiring:</h5>
        <ul>
            {% for i in hired_by_this_business %}
                <li>
                    {{ i.hired_influencer.first_name }} {{ i.hired_influencer.last_name }}
                    <button>work completed</button>
                </li>
            {% endfor %}
        </ul>

    {% endif %}

    {% if searched_inf is not None %}
        {% for i in searched_inf %}
            <div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <p>Result: <a href="{{ i.ig_link }}" target="_blank" title="{{ i.user.username }}">IG link
                        for {{ i.user.first_name }} {{ i.user.last_name }}</a>
                        <button onclick="myFunction()">Send Message</button>
                        <button value="{{ i.user }}" name="hired_influencer" onclick="clicked(event)">Hire</button>
                    </p>
                </form>
            </div>
        {% endfor %}

        <div id="msg" style="display: none">
            <form action="{% url 'messages' %}" method="POST">
                {% csrf_token %}
                <label>Send to:</label>
                <input type="text" name="msg_receiver" size="40px" placeholder="hover over ig link to see the username">
                <br>
                <br>
                <label>Message:</label>
                <textarea name="msg_content" rows="4" cols="50"></textarea>
                <br>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>

    {% endif %}


    <script>
        function myFunction() {
            var x = document.getElementById("msg");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function clicked(e) {
            if (!confirm('Select OK to confirm')) e.preventDefault();
        }
    </script>


{% endblock %}
