{% extends 'accounts/main.html' %}

{% block content %}


    {% if user.groups.all.0.name == "influencer" %}
        <h2>Hey, {{ user.first_name }} {{ user.last_name }}</h2>
        <p> {{ user.influencerprofile.city }}, {{ user.influencerprofile.state }}</p>
         You described yourself as: <div id="bio">- {{ user.influencerprofile.bio }}</div><br>
         You can be found at:
        <span><a id="icons" href="{{ user.influencerprofile.ig_link }}" target="_blank"><i class="fab fa-instagram" style="font-size:30px;"></i></a></span>
        <span><a id="icons" href="{{ user.influencerprofile.ig_link }}" target="_blank"><i class="fab fa-twitter" style="font-size:30px;"></i></a></span>
        <span><a id="icons" href="{{ user.influencerprofile.ig_link }}" target="_blank"><i class="fab fa-facebook" style="font-size:30px;"></i></a></span>
        <p> -followers: {{ user.influencerprofile.followers }} 🔥</p>
        <p>Member since: {{ user.date_joined|date:"F d, Y"}}</p>
        <button class="btn btn-sm"><a href="{% url 'settings' user.username %}">Update info</a></button>
        <button class="btn btn-sm"><a href="{% url 'messages' %}">Check messages</a></button>
        <br>
        <hr>
        <h5>You are currently working with:</h5>
        <ul>
            {% for i in working_with %}
                <li>{{ i.hired_by.businessprofile.business_name }} - <em>since {{ i.timestamp|date:"F d, Y" }}</em></li>
            {% endfor %}
        </ul>

    {% endif %}

    {% if user.groups.all.0.name == "business" %}
        <h1 class="text-center">{{ user.businessprofile.business_name }}</h1>
        <p class="text-left">{{ user.businessprofile.city }}, {{ user.businessprofile.state }}</p>
        <p class="text-left">Welcome, {{ user.first_name }} {{ user.last_name }}</p>

        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Search Influencers in your local Area Now!" class="btn">
        </form>

        <h5>You are currently hiring:</h5>
        <ul>
            {% for i in hired_by_this_business %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <li>
                        {{ i.hired_influencer.first_name }} {{ i.hired_influencer.last_name }} - <em>since {{ i.timestamp|date:"F d, Y" }}</em>
                        <button onclick="clicked(event)" value="{{ i.id }}" name="unhired_id" class="btn btn-sm">
                            Done Working?
                        </button>
                    </li>
                </form>
                <hr>
            {% endfor %}
        </ul>

    {% endif %}


    {% if searched_inf is not None %}
        {% for i in searched_inf %}
            <div id="influencers_list">
                <form action="" method="POST">
                    {% csrf_token %}
                    <table class="table table-striped table-sm" >
                        <tr>
                            <td class="align-middle" style="width: 10%">{{ i.user.first_name }} {{ i.user.last_name }}</td>
                            <td id="bio" class="align-middle" style="width: 30%">{{ i.user.influencerprofile.bio }}</td>
                            <td class="align-middle" style="width: 10%">{{ i.user.influencerprofile.followers }} followers</td>
                            <td class="align-middle" style="width: 10%">
                                <a id="icons" href="{{ i.ig_link }}" target="_blank" title="instagram">
                                    <i class="fab fa-instagram" style="font-size:30px;"></i>
                                </a>
                                <span> ,</span>
                                <a id="icons" href="{{ i.ig_link }}" target="_blank" title="twitter">
                                    <i class="fab fa-twitter" style="font-size:30px;"></i>
                                </a>
                                <span> ,</span>
                                <a id="icons" href="{{ i.ig_link }}" target="_blank" title="facebook">
                                    <i class="fab fa-facebook" style="font-size:30px;"></i>
                                </a>
                            </td>
                            <td class="align-middle" style="width: 10%">
                                <a href="#msg"><input id="message-btn" class="btn btn-sm" type="button" onclick="reply()" value="Message"></a>
                                <button value="{{ i.user }}" name="hired_influencer"
                                        class="btn btn-sm" onclick="clicked(event)">Hire
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        {% endfor %}

        <br><br>

        <div id="msg" style="display: none" class="container border rounded border-dark">
            <br>
            <form action="{% url 'messages' %}" method="POST">
                {% csrf_token %}
                <label>Send to:</label>
                <input type="text" name="msg_receiver" size="40px" placeholder="hover over ig link to see the username" required>

                <br><br>

                <label>Message:</label>
                <textarea name="msg_content" rows="4" cols="50" required></textarea>

                <br><br>

                <input type="submit" value="Submit">
                <input type="button" value="cancel" onclick="reply()">

                <br><br>
            </form>

        </div>
        <br><br>

    {% endif %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        function reply() {
            var x = document.getElementById("msg");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }

        }

        function clicked(e) {
            if (!confirm('Select OK to confirm')) e.preventDefault();
        }

    </script>


{% endblock %}
