{% extends 'accounts/main.html' %}

{% block content %}


<form action="" method="POST">
    {% csrf_token %}
    <label>Send to:</label>
    <input type="text" name="msg_receiver" value="{{ picked_user }}">
    <br>
    <br>
    <label>Message:</label>
    <textarea name="msg_content" rows="4" cols="50"></textarea>
    <br>
    <br>
    <input type="submit" value="Submit">
</form>


<div class="message_box">
    <h6>Inbox</h6>
    {% for message in inbox %}
        <ul>
            <li>{{ message.sender.first_name }}: {{ message.msg_content }}</li>
            <hr>
        </ul>
    {% endfor %}
    <span>last synced- {{ time_now.time }}</span>
    <input type="button" value="sync now" onClick="window.location.reload();">
    <hr>
    <h6>Outbox</h6>
    {% for message in outbox %}
        <ul>
            <li>{{ message.sender.first_name }}: {{ message.msg_content }}</li>
            <hr>
        </ul>
    {% endfor %}

    {% for x in outbox %}
        <ul>
            <li>{{ x.reciever }}: {{ x.msg_content }}</li>
            <hr>
        </ul>
    {% endfor %}


</div>

{% endblock %}