{% extends 'accounts/main.html' %}

{% block content %}

    <br>
    <div class="card-deck">
        <div class="card card border-info mb-3 text-white bg-dark mb-3" id="inbox" style="width: 500px; height: 400px; overflow: auto">
            <div class="card-header">Inbox</div>
            {% for message in inbox %}
                <ul>
                    <li>
                        <strong>{{ message.sender.first_name }}</strong>: <span data-toggle="tooltip" data-placement="bottom" title="{{ message.sender.username }}">{{ message.msg_content }}</span>
                        {% if message.is_read == False %}
                            <form action="{% url 'messages' %}" method="POST">
                                {% csrf_token %}
                                <button value="{{ message.id }}" name="read" class="btn btn-sm">mark as read❗️</button>
                            </form>
                        {% endif %}
                        {% if message.is_read == True %}
                            <button onclick="reply()" class="btn btn-sm">Reply</button>
                        {% endif %}
                    </li>
                    <small>-{{ message.timestamp }}</small>
                    <hr>
                </ul>
            {% endfor %}
        </div>


        <div id="msg" style="display: none">
            <form action="{% url 'messages' %}" method="POST">
                {% csrf_token %}
                <label>Send to:</label>
                <input type="text" name="msg_receiver" size="40px"
                       placeholder="hover over message to see the username">
                <br>
                <br>
                <label>Message:</label>
                <textarea name="msg_content" rows="4" cols="40"></textarea>
                <br>
                <br>
                <input type="submit" value="send">
                <input type="button" value="cancel" onclick="reply()">
            </form>

        </div>

        <hr>

        <div class="card card border-info mb-3 text-white bg-dark mb-3" id="outbox" style="width: 500px; height: 400px; overflow: auto">
            <div class="card-header">Outbox</div>
            {% for message in outbox %}
                <ul>
                    <strong><li>{{ message.receiver.first_name }}</strong>: {{ message.msg_content }}</li>
                    <small>-{{ message.timestamp }}</small>
                    <hr>
                </ul>
            {% endfor %}
        </div>

    </div>

    <br>
    <div>
        <small>last synced- {{ time_now.time }}</small>
{#        <input type="button" value="sync now" onClick="window.location.href = window.location.href;" class="btn btn-sm">#}
        <i class="sync fas fa-sync-alt" onClick="window.location.href = window.location.href;"></i>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script>

        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        function reply() {
            var x = document.getElementById("msg");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function load_messages() {
            $.ajax({
                url: '{% url 'msgs_json' %}',
                datatype: 'json',
                type: 'GET',
                success: function (body) {
                    body.forEach(function (b) {
                        if (b.fields.is_read === false) {
                            console.log("unread message(s)")
                            $("#inbox").load(location.href + " #inbox");
                            /*$("#outbox").load(location.href + " #outbox");*/
                        }
                    });
                }
            });
        }

        $(document).ready(function () {
            setInterval(load_messages, 500);
        });

    </script>

{% endblock %}