{% extends 'accounts/main.html' %}

{% block content %}

    <div class="message_box">

        <div id="inbox">
            <h6>Inbox</h6>
            {% for message in inbox %}
                <ul>
                    <li title="{{ message.sender.username }}">{{ message.sender.first_name }}: {{ message.msg_content }}
                        {% if message.is_read == False %}
                            <form action="{% url 'messages' %}" method="POST">
                            {% csrf_token %}
                            <button value="{{ message.id }}" name="read">mark as read</button>
                            </form>
                        {% endif %}
                        {% if message.is_read == True %}
                            <button onclick="myFunction()">Reply</button>
                        {% endif %}
                    </li>
                    <small>-{{ message.timestamp }}</small>
                    <hr>
                </ul>
            {% endfor %}

        </div>


        <span>last synced- {{ time_now.time }}</span>
        <input type="button" value="sync now" onClick="window.location.href = window.location.href;">
        <br>
        <br>

        <div id="msg" style="display: none">
            <form action="{% url 'messages' %}" method="POST">
                {% csrf_token %}
                <label>Send to:</label>
                <input type="text" name="msg_receiver" size="40px"
                       placeholder="hover over message to see the username">
                <br>
                <br>
                <label>Message:</label>
                <textarea name="msg_content" rows="4" cols="50"></textarea>
                <br>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>

        <hr>
        <h6>Outbox</h6>

        {% for message in outbox %}
            <ul>
                <li>{{ message.receiver.first_name }}: {{ message.msg_content }}</li>
                <small>-{{ message.timestamp }}</small>
                <hr>
            </ul>
        {% endfor %}

    </div>


    <script>
        function myFunction() {
            var x = document.getElementById("msg");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

{% endblock %}