{% load static %}

<style>
    .hello-msg{
        font-size: 18px;
        color: black;
        margin-right: 20px;
    }
</style>

<nav class="navbar navbar-expand-lg" style="background-color: #dbd2b7;">
    <a href="{% url 'home' %}"><img src="{% static 'images/logo2.png' %}" height="25" width="200"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
{#                <a  class="nav-link hello-msg" href="{% url 'home' %}">Home</a>#}
            </li>
        </ul>
    </div>

    <span><a class="hello-msg" href="{% url 'home' %}">Home</a></span>
    <span><a class="hello-msg" href="{% url 'messages' %}">Messages</a></span>
    <span><a class="hello-msg" href="{% url 'settings' user.username %}">Settings</a></span>
    <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>

</nav>