<h1>Settings</h1>

{% if user.groups.all.0.name == "influencer" %}
    <p>Welcome, {{ influencer.user.first_name }} {{ influencer.user.last_name }}</p>
{% endif %}
{% if user.groups.all.0.name == "business" %}
    <p>Welcome, {{ business.user.first_name }} {{ business.user.last_name }}</p>
{% endif %}


<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
</form>



<p><a href="{% url 'home' %}">Homepage</a></p>
<a class="hello-msg" href="{% url 'logout' %}">Logout</a>